<div class="offcanvas offcanvas-end w-full w-lg-1/3" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1"
id="offcanvasEdit" aria-labelledby="offcanvasEditLabel" aria-modal="true" role="dialog">
<div class="offcanvas-header border-bottom py-5 bg-surface-secondary">
    <h5 class="offcanvas-title" id="offcanvasCreateLabel">Create a new Requirement</h5><button type="button"
        class="btn-close text-reset text-xs" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<form action="/requirements/addrequirement" method="POST">
    <div class="offcanvas-body vstack gap-2">
        <div class="form-group">
            <label class="form-label" for="requirementname" name="requirementname">Name</label> <input type="text" id="requirementname" name="requirementname" class="form-control" placeholder="Project name">
            <span class="d-block mt-2 text-sm text-muted">Make it unique.</span>
            <label class="form-label" for="requirementid" name="requirementid">Shorthand</label> <input type="text" id="requirementid" name="requirementid" class="form-control" placeholder="PR-001">
            <span class="d-block mt-2 text-sm text-muted">Make it unique.</span>
        </div>
        <hr class="my-0">
        <div class="row">
            <div class="col-lg-8">
            <label class="form-label">Requirement Image</label>
            <div class="hstack gap-3" style="display: flex; align-items: center;">
                <div class="form-item-checkable" onclick="displayIcon(document.getElementById('requirementid').value, '#ff405c', 'requirementIconContainer')" style="display: flex; align-items: center;">
                    <input class="form-item-check" type="radio" name="requirement-view" id="requirement-view-color1" checked="checked">
                    <label class="form-item" for="requirement-view-color1">
                      <span class="form-item-click d-inline-flex align-items-center justify-content-center form-control text-center text-muted projectimage" style="background-color: #ff405c;"></span>
                    </label>
                </div>
              <div class="form-item-checkable" onclick="displayIcon(document.getElementById('requirementid').value, '#ff936b', 'requirementIconContainer')" style="display: flex; align-items: center;">
                <input class="form-item-check" type="radio" name="requirement-view" id="requirement-view-color2">
                <label class="form-item" for="requirement-view-color2">
                  <span class="form-item-click d-inline-flex align-items-center justify-content-center form-control text-center text-muted projectimage" style="background-color: #ff936b;"></span>
                </label>
              </div>
              <div class="form-item-checkable" onclick="displayIcon(document.getElementById('requirementid').value, '#ffd845', 'requirementIconContainer')" style="display: flex; align-items: center;">
                <input class="form-item-check" type="radio" name="requirement-view" id="requirement-view-color3">
                <label class="form-item" for="requirement-view-color3">
                  <span class="form-item-click d-inline-flex align-items-center justify-content-center form-control text-center text-muted projectimage" style="background-color: #ffd845;"></span>
                </label>
              </div>
            </div>
            <div class="hstack gap-3" style="display: flex; align-items: center;">
              <div class="form-item-checkable" onclick="displayIcon(document.getElementById('requirementid').value, '#8ee26b', 'requirementIconContainer')" style="display: flex; align-items: center;">
                <input class="form-item-check" type="radio" name="requirement-view" id="requirement-view-color4">
                <label class="form-item" for="requirement-view-color4">
                  <span class="form-item-click d-inline-flex align-items-center justify-content-center form-control text-center text-muted projectimage" style="background-color: #8ee26b;"></span>
                </label>
              </div>
              <div class="form-item-checkable" onclick="displayIcon(document.getElementById('requirementid').value, '#7dd5f4', 'requirementIconContainer')" style="display: flex; align-items: center;">
                <input class="form-item-check" type="radio" name="requirement-view" id="requirement-view-color5">
                <label class="form-item" for="requirement-view-color5">
                  <span class="form-item-click d-inline-flex align-items-center justify-content-center form-control text-center text-muted projectimage" style="background-color: #7dd5f4;"></span>
                </label>
              </div>
              <div class="form-item-checkable" onclick="displayIcon(document.getElementById('requirementid').value, '#ff405c', 'requirementIconContainer')" style="display: flex; align-items: center;">
                <input class="form-item-check" type="radio" name="requirement-view" id="requirement-view-custom-color">
                <label class="form-item" for="requirement-view-custom-color">
                  <span class="form-item-click d-inline-flex align-items-center justify-content-center form-control text-center text-muted projectimage" style="background-color: transparent; border: 1px solid #000;"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <input type="hidden" id="generatedIcon" name="generatedIcon">
            <div class="iconContainer" id="requirementIconContainer"></div>
          </div>
        </div>
    </div>
    <div class="modal-footer py-2 bg-surface-secondary">
        <button type="button" class="btn btn-sm btn-neutral" data-bs-dismiss="offcanvas">Close</button> 
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </div>
</form>
</div>

<script src="/js/icongenerator.js"></script>