<form id="guest-login-form" action="/users/login" method="POST">
  <input type="hidden" name="email" value="guest@example.com">
  <input type="hidden" name="password" value="guest">
  <button type="submit" class="btn btn-theme">Guest Login</button>
</form>