@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.hover-color:hover {
    background-color: #f5f5f5; /* desired hover color */
  }

.dropdown-menu {
    width: 300px; /* desired width */
    height: auto; /* desired height */
}

.text-area-large {
    width: auto;
    height: 150px;

    white-space: pre-wrap;       /* CSS3 */   
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.bg-surface-secondary {
    opacity: 1;
    background-color:#f7f7f7;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


.navbar-vertical.navbar-expand-lg.show {
    max-width: 270px;
    border-radius: 0;
}

.navbar-vertical.navbar-expand-lg>[class*=container] {
    min-height: 100%;
    flex-direction: column;
    align-items: stretch;
    padding-left: 0;
    padding-right: 0;
}

.navbar-vertical.navbar-expand-lg .navbar-collapse {
    opacity: 1;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    display: flex;
}

.navbar-vertical.navbar-expand-lg .navbar-nav {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}

.navbar-vertical .navbar-nav .nav-link i, .navbar-vertical .navbar-nav .nav-link svg {
    min-width: 1.875rem;
}

.navbar-vertical .navbar-nav .nav-link {
    white-space: nowrap;
    align-items: center;
    padding: 0.75rem 1.5rem;
    font-size: .875rem;
    display: flex;
    position: relative;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.icon-shape {
    text-align: center;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.submenu-btn {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    padding-left: 15px;
  }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.row {
    padding: 5px 0;
    width: 100%;
}

.rounded-circle {
    border-radius: 50%!important;
}

.avatar {
    vertical-align: middle;
    height: 2.875rem;
    width: 2.875rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    display: inline-flex;
    position: relative;
}

.avatar img {
    width: 100%;
    border-radius: inherit;
}
.avatar-group{
    line-height: 1;
        display: inline-block
    }
    
    .avatar-group .avatar:hover {
        z-index: 2
    }
    
    .avatar-group .avatar+.avatar {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1.25rem
    }
    
    .avatar-group:hover .avatar {
        border-top-left-radius: .375rem;
        border-bottom-left-radius: .375rem
    }


    .card {
        --x-card-spacer-y: 1.5rem;
        --x-card-spacer-x: 1.5rem;
        --x-card-title-spacer-y: 1.5rem;
        --x-card-border-width: 1px;
        --x-card-border-color: #e7eaf0;
        --x-card-border-radius: .75rem;
        --x-card-box-shadow: ;
        --x-card-inner-border-radius: calc(.75rem - 1px);
        --x-card-cap-padding-y: 1.25rem;
        --x-card-cap-padding-x: 1.5rem;
        --x-card-cap-bg: transparent;
        --x-card-cap-color: #16192c;
        --x-card-height: ;
        --x-card-color: #525f7f;
        --x-card-bg: #fff;
        --x-card-img-overlay-padding: 1rem;
        --x-card-group-margin: .75rem;
        min-width: 0;
        height: var(--x-card-height);
        word-wrap: break-word;
        background-color: var(--x-card-bg);
        border: var(--x-card-border-width)solid var(--x-card-border-color);
        border-radius: var(--x-card-border-radius);
        box-shadow: var(--x-card-box-shadow);
        background-clip: border-box;
        flex-direction: column;
        display: flex;
        position: relative;
    }

.card-header {
    padding: var(--x-card-cap-padding-y)var(--x-card-cap-padding-x);
    color: var(--x-card-cap-color);
    background-color: var(--x-card-cap-bg);
    border-bottom: var(--x-card-border-width)solid var(--x-card-border-color);
    margin-bottom: 0;
}

.mainbody {
    margin-left: 250px;
    margin-top: 15px;
  }

.bg-soft-success {
    background-color: #ccf5e7!important;
}
.bg-warning {
    --x-bg-opacity: 1;
    background-color: orange;
}

.bg-danger {
    --x-bg-opacity: 1;
    background-color: red;
}

.bg-success {
    --x-bg-opacity: 1;
    background-color: green;
}

.badge-dot.badge-lg i {
    width: 0.625rem;
    height: 0.625rem;
}

.table td .progress {
    height: 3px;
    width: 120px;
    margin: 0;
}

.me-2 {
    margin-right: 0.5rem!important;
}

element.style {
}
.badge-dot.badge-lg i {
    width: 0.625rem;
    height: 0.625rem;
}
.badge-dot i {
    vertical-align: middle;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    display: inline-block;
}

#sidebar {
      /* Set the width of the sidebar */
      width: 250px;
      /* Set the height of the sidebar to match the screen height */
      height: 100vh;
      /* Fix the sidebar to the left side of the viewport */
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      /* Add a scrollbar to the sidebar */
      overflow-y: auto;
  } 
  
  /* Allow the body to take up the remaining space */
  .flex-lg-1 {
    flex: 1;
  }

  a.nav-link.active {
    color: #999;
    border-color: transparent transparent #999;
    }

    .badge-dot {
        color: #525f7f;
        background: 0 0;
        align-items: center;
        padding: 0;
        font-weight: 400;
        display: inline-flex;
    }
    .badge {
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 0;
  }
.container-fluid {
    padding-left: 15;
    padding-right: 15;
    padding-top: 15;
    padding-bottom: 15;
}

a.download {
    background: #fff;
    color: #7386D5;
}

.hover-color {
    background-color: transparent;
}
.hover-color:hover {
    background: lightgray;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}